body {
    margin: 0;
    padding: 0;
    font-family: georgia;
    font-size: 18px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    height: 34px;
    width: 240px;
    text-align: center;
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center
}

.paperLike {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
}

#page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;
}

#page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
}

.contactsComponent__rowWithSearch {
    align-items: center;
}

.contactComponent__advancedSortInputInvisible {
    visibility: hidden;
}

.contactComponent__advancedSortInputVisible {
    visibility: visible;
    padding: 8px;
}

.contactComponent__basicSearchInput{
    padding: 8px;
}

.contactsComponent__table {
    width: 100%;
}

.contactsComponents__table_th {
    font-size: 20px;
    color: #30336b;
    background: #7ed6df;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
}

.contactsComponent__table_th0 {
    width: 50px;
}

.contactsComponent__table_th1 {
    width: 150px;
}

.contactsComponent__table_th2 {
    width: 200px;
}

.contactsComponent__table_th3 {
    width: 300px;
}

.contactsComponent__table_th4 {
    width: 300px;
}

.contactsComponent__table_th5 {
    width: 300px;
}

.contactsComponent__tableRows {
    text-align: center;
}

.contactsComponent__tableRows:hover {
    background-color: #dff9fb;
}

.contactComponent__table__tableRows_btn,
.textInModal__btn,
.contactComponent__search__clearBtn {
    width: 100px;
    background: #c7ecee;
    border: none;
    border-radius: 3px;
    height: 40px;
    color: #30336b;
    font-size: 16px;
    font-weight: bold;
}

.contactComponent__table__tableRows_btn:hover,
.textInModal__btn:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal_close:hover,
.modal_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.textInModal__header {
    text-align: center;
}

.textInModal__divForTitleAndInput_InputTitle {
    display: flex;
    width: 10vw;
}

.textInModal__divForTitleAndInput {
    display: flex;
    justify-content: center;
}

.textInModal__divForTitleAndInput_InputDiv_Input {
    padding: 5px;
    margin: 3px;
}

.textInModal__divForTitleAndInput_InputDiv .textInModal__divForTitleAndInput_InputDiv_Input {
    display: flex;
    width: 40vw;
    align-items: center;
}

.textInModal__divForTitleAndInput_InputTitle {
    display: flex;
    align-self: center;
}

.textInModal__btn {
    padding: 3px;
    margin: 20px 5px;
}

.textInModal__divForButtons {
    display: flex;
    justify-content: flex-end;
}

.pageNumberIsVisible {
    color: #30336b !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #c7ecee;
}

.pageNumberIsVisible:hover,
.pageNumberIsCurrent:hover {
    background: #badc58;
}

.pageNumberIsCurrent {
    color: #30336b !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #95afc0;
    border-radius: 5px;
}

.pageNumberIsInvisible {
    display: none;
}